h1{
	/*position: absolute;
    top: 20%;
    left: 35%;
    color: black;*/
    height: 20px;
}



.scaleBin{
	transform: scale(1.2);
	transition: all 2s;
	background: blue;
	
}

section{
	display: flex;
}

div{
	height: 50px;
	width: 50px;
	border: 2px solid blue;
	padding: 5px;
	margin-left: 10px;
}

.highLight{
	transition: all 0.5s;
	background: green;
}